/*****************************
HOME
*****************************/

body,
#backend-content {
	background-color: #EEE;
}

#home {
	height: 100%;
	background-image: url(../images/cover.jpg);
	background-position: right center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	background-color: #000;
}

.overlay {
    background-image: url("../images/pattern.png");
    width: 100%;
	height: 100%;
	background-repeat: repeat;
}

.intro {
	/*font-family: 'Montserrat', sans-serif;*/
	color: #DDD;
	margin-top: 15%;
	text-align: center;
}

.arrow {
	height: 50px;
	margin: 10% 0;
}

#secondary-content {
	width: 100%;
	margin: 3% 0;
	text-align: center;
	color: #666;
}

.frontend,
.backend,
.fullstack {
	float: left;
	text-align: center;
}


.frontend img,
.backend img,
.fullstack img {
	width: 100%;
	max-width: 250px;
}

.line {
	background: rgba(100, 100, 100, 0.5);
	width: 130px;
	height: 2px;
	margin: 30px auto;
}

footer {
	background-color: #222;
	color: #DDD;
	text-align: center;
	padding-bottom: 10px;
}

p {
	line-height: 2em;
}

a,
a:hover {
	color: inherit;

}

a:hover {
	text-decoration: none;
}


/*****************************
PORTFOLIO INFO ON HOME PAGE
*****************************/

#secondary-content,
#backend-content {
	background-color: #ddd;
}

#frontend-content,
#backend-content,
#fullstack-content,
#personal-info-content	 {
	text-align: center;
	padding-top: 2%;
	width: 100%;
	color: #666;
}

#frontend-gallery,
#backend-gallery,
#fullstack-gallery {
	padding: 5%;
}

.portfolio-list figure img {
	width: 100%;
	margin-bottom: 7%;
	display: block;
}

/*** IMAGE OVERLAY ***/

.portfolio-list figure {
	position: relative;
}

.portfolio-list figure figcaption h2,
.portfolio-list figure figcaption h4 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #FFF;
}

figure.image-overlay {
	background: rgb(0, 0, 0);
}

figure.image-overlay:hover img {
	opacity: 0.3;
}

figure.image-overlay img {
	transition: opacity 0.7s;
	-webkit-transition: opacity 0.7s;
}

figure h2 {
	background: rgba(0, 0, 0, 0.6);
}

figure.image-overlay figcaption::before,
figure.image-overlay figcaption::after {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	content: '';
	border: 1px solid #fff;
	transform: scale(1,0);
	-webkit-transform: scale(1,0);
	transition: opacity 0.4s, transform 0.4s;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
}

figure.image-overlay:hover figcaption::before,
figure.image-overlay:hover figcaption::after {
	transform: scale(1);
	-webkit-transform: scale(1);
}

figure:hover h2 {
	display: none;
}

figure.image-overlay h4 {
	padding: 20px 2.5em;
	opacity: 0;
	line-height: 1.2em;
	transition: opacity 0.4s, transform 0.4s;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
}

figure.image-overlay:hover h4 {
	opacity: 1;
}

/*****************************
MODALS
*****************************/

.modal-header {
	background-color: #55BCBC;
}

.modal-title {
	color: #FDFDFD;
	letter-spacing: 1px;
}

button.close {
	padding: 7px;
}

.modal-body img {
	max-width: 100%;
}

/*To work with iOS*/
.clickable {
    cursor: pointer;
}

/*****************************
PROFILE
*****************************/

.profile-image {
	width: 95%;
	max-width: 300px;
	margin: 5%;
}