/*****************************
HOME
*****************************/

body {
	background-color: #EEE;
}

#home {
	height: 100%;
	background: url(../images/cover.jpg) no-repeat right center fixed; 
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	background-color: #000;
}

.overlay {
    background-image: url("../images/pattern.png");
    width: 100%;
	height: 100%;
	background-repeat: repeat;
}

.intro {
	/*font-family: 'Montserrat', sans-serif;*/
	font-size: 1.5em;
	color: #DDD;
	margin-top: 15%;
	text-align: center;
}

.arrow {
	height: 50px;
	margin: 10% 0;
}

.secondary-content {
	width: 100%;
	margin: 3% 0;
	text-align: center;
	color: #666;
}

.frontend,
.backend,
.fullstack {
	float: left;
	text-align: center;
}


.frontend img,
.backend img,
.fullstack img {
	width: 100%;
	max-width: 250px;
}

.line {
	background: rgba(100, 100, 100, 0.5);
	width: 150px;
	height: 2px;
	margin: 30px auto;
}